<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schroeter.PhotoTagStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Schroeter.PhotoTagStudio.Properties.Settings>
            <setting name="DisplayIPTCTagsWithFlickrNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GuiShowPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuiShowDirectoryTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RotatePreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GPSTimeOffset" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="KmzHeading" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KmzTilt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KmzRange" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="KmzOpenFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KmzPictureSize" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LoadThumbnailsInBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastWorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GoToNextPicture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewSettingFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MacroDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RenameUseSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacroUseSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KmzLineWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KmzLineColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="VisibleTabs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>IPTC</string>
                        <string>EXIF</string>
                        <string>EXIF Dates</string>
                        <string>Rename</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CollapseIptcKeywordGroupsOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </Schroeter.PhotoTagStudio.Properties.Settings>
    </userSettings>
</configuration>